.input {
  padding: var(--input-padding, 10px 15px) !important;
  background-color: var(--input-background-color, #fff) !important;
  font-family: var(--font-montserrat, sans-serif);
  font-weight: 400;
  font-size: var(--input-font-size, 1rem) !important;
  color: var(--input-color, #000) !important;
  border: 2px solid #ccc;
  border-radius: var(--input-border-radius, .5rem) !important;
  transition: all 0.2s ease;

  outline: none;
}

.input:focus {
  border-color: var(--input-focus-border-color, #4480EA);
  box-shadow: 0 0 0 2px rgba(68, 128, 234, 0.2);
}

.input:disabled {
  background-color: #EAEAEA !important;
}