.profile__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__header {
    font-family: var(--font-unbounded);
    font-weight: 700;
    font-style: Bold;
    font-size: 2.1875rem;
    leading-trim: NONE;
    line-height: 117%;
    letter-spacing: -2%;
    vertical-align: bottom;
}